@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

section {
  text-align: center;
  padding: 20px;
}

.container {
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.c_button_material {
  background: rgba(0, 0, 0, 0.1);
}

.c_button_material .btn_wrapper {
  padding-top: 20px;
}

.c_button_material .button {
  display: inline-block;
  margin: 5px;
  padding: 1.2rem 3.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  overflow: hidden;
}

.c_button_material .blue {
  background-color: #03A9F4;
  color: white;
}

.c_button_material .red {
  background-color: #F44336;
  color: white;
}

.c_button_material .green {
  background-color: #4CAF50;
  color: white;
}

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  pointer-events: none;
  -webkit-animation: ripple .75s ease-out;
          animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

.c_nav_slideIn_1, .c_nav_slideInBackground, .c_nav_slideInBackground_2, .c_nav_slideInBackground_3 {
  background: rgba(0, 0, 0, 0.2);
}

.c_nav_slideIn_1 nav, .c_nav_slideInBackground nav, .c_nav_slideInBackground_2 nav, .c_nav_slideInBackground_3 nav {
  padding-top: 20px;
}

.c_nav_slideIn_1 nav > ul, .c_nav_slideInBackground nav > ul, .c_nav_slideInBackground_2 nav > ul, .c_nav_slideInBackground_3 nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 auto;
}

.c_nav_slideIn_1 ul > li > a, .c_nav_slideInBackground ul > li > a, .c_nav_slideInBackground_2 ul > li > a, .c_nav_slideInBackground_3 ul > li > a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
  margin: 1.2rem;
  position: relative;
  overflow: hidden;
}

.c_nav_slideIn_1 li > a > span.slider_bottom, .c_nav_slideInBackground li > a > span.slider_bottom, .c_nav_slideInBackground_2 li > a > span.slider_bottom, .c_nav_slideInBackground_3 li > a > span.slider_bottom {
  position: absolute;
  height: 2px;
  background: white;
  width: 0%;
  bottom: 0;
  left: 0;
}

.c_nav_slideInBackground, .c_nav_slideInBackground_2, .c_nav_slideInBackground_3 {
  background: rgba(0, 0, 0, 0.3);
}

.c_nav_slideInBackground nav ul li a, .c_nav_slideInBackground_2 nav ul li a, .c_nav_slideInBackground_3 nav ul li a {
  position: relative;
  padding: 15px 25px;
}

.c_nav_slideInBackground nav ul li a span.slider_in_left, .c_nav_slideInBackground_2 nav ul li a span.slider_in_left, .c_nav_slideInBackground_3 nav ul li a span.slider_in_left {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  z-index: 0;
}

.c_nav_slideInBackground_2, .c_nav_slideInBackground_3 {
  background: rgba(0, 0, 0, 0.4);
}

.c_nav_slideInBackground_2 nav ul li a, .c_nav_slideInBackground_3 nav ul li a {
  position: relative;
  padding: 15px 25px;
  color: black;
}

.c_nav_slideInBackground_2 nav ul li a span.slider_in_left, .c_nav_slideInBackground_3 nav ul li a span.slider_in_left {
  height: 0%;
  width: 100%;
  top: 0;
  z-index: 0;
}

.c_nav_slideInBackground_3 {
  background: rgba(0, 0, 0, 0.5);
}

.c_nav_slideInBackground_3 nav ul li a span.slider_in_left {
  height: 0%;
  width: 100%;
}

@-webkit-keyframes slideInToLeft {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slideInToLeft {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes slideOutToRight {
  from {
    width: 100%;
    margin-left: 0%;
  }
  to {
    width: 0%;
    margin-left: 100%;
  }
}

@keyframes slideOutToRight {
  from {
    width: 100%;
    margin-left: 0%;
  }
  to {
    width: 0%;
    margin-left: 100%;
  }
}

@-webkit-keyframes slideInToTop {
  from {
    height: 0%;
    margin-top: 100%;
  }
  to {
    height: 100%;
    margin-top: 0%;
  }
}

@keyframes slideInToTop {
  from {
    height: 0%;
    margin-top: 100%;
  }
  to {
    height: 100%;
    margin-top: 0%;
  }
}

@-webkit-keyframes slideOutToTop {
  from {
    height: 100%;
    margin-bottom: 0%;
  }
  to {
    height: 0%;
    margin-bottom: 100%;
  }
}

@keyframes slideOutToTop {
  from {
    height: 100%;
    margin-bottom: 0%;
  }
  to {
    height: 0%;
    margin-bottom: 100%;
  }
}

@-webkit-keyframes slideInToBottom {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes slideInToBottom {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes slideOutToBottom {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
  from {
    height: 100%;
    margin-top: 5%;
  }
  to {
    height: 0%;
    margin-top: 55%;
  }
}

@keyframes slideOutToBottom {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
  from {
    height: 100%;
    margin-top: 5%;
  }
  to {
    height: 0%;
    margin-top: 55%;
  }
}
/*# sourceMappingURL=main.css.map */